.hero {
    position: relative;
  }
  
  .banner-img {
    width: 100%;
    height: 90%;
    opacity: 1; /* Initially visible */
    transition: opacity 10s ease; /* Smooth fade-out effect */
  }
  
  .banner-img.hidden {
    opacity: 0; /* Fade out */
    pointer-events: none; /* Disable interactions */
  }
  
  .haivd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
     object-fit: cover;
    display: none; /* Initially hidden */
  }
  
  .haivd.visible {
    display: block; /* Show video after 3s */
  }

  .hero-caption{
    position: absolute;
    width: 100%;
    padding-left: 3%;
    bottom: 0;
  }

  .caption-img{
    width: 50%;
    max-width: 320px;
  }

  .hero-caption p{
    padding-left: 2%;
    max-width: 450px;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .hero-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 100px;
    margin-left: 30px;
  } 

  .hero-btns .btn img{
    width: 25px;
  }

  .hero-btns .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
  }

  .hero-btns .btn.dark-btn{
    color: #fff;
    background: #6d6d6eb3;
  }

  .hero-btns .btn:hover{
    background: #ffffffbf;
  }

  .hero-btns .btn .dark-btn:hover{
    background: #6d6d6e66;
  }

  .more-cards{
    padding-left: 3%;
  }
  